<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제이슨 추출</title>
    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="sub_item">
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/fishfest.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/fishfest.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">강화 빙어축제</p>
                                <p class="evt-bx-txt">
                                    인천 강화도에서 12월에 진행되는 강화빙어축제는 강화군 송해면 전망대로<br class="hidden-smxs">
                                    양오낚시터에서 흥겹게 진행됩니다.<br>
                                    맑고 푸른 하늘아래, 차가운 얼음을 깨고 숨어있는 빙어낚시를 즐겨보세요.<br>
                                    아이와 가족, 연인, 친구 모두 즐거운 빙어잡기로 신나는 시간을 함께하세요<br>
                                    2020 강화도 빙어축제. 누구나 쉽게 체험할 수 있습니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">강화 빙어축제</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 12월 11일 ~ 02월 02일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">양오낚시터</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">인천 강화도 양오저수지내</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://www.yango.co.kr" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/skyfest.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/skyfest.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">

                                <p class="evt-bx-tit">인천공항 스카이페스티벌</p>
                                <p class="evt-bx-txt">
                                    2004년부터 시작되어 올해로 16회를 맞이한 인천공항 SKY FESTIVAL은 현재<br class="hidden-smxs">
                                    "K-POP"과 "CROSSOVER"음악 콘서트를 중심으로 가을을 대표하는<br class="hidden-smxs">
                                    야외 음악축제로 자리 잡아가고 있습니다.<br>
                                    <br class="hidden-smxs">
                                    K-POP, CROSSOVER CONCERT와 EXPO가 함께 하고<br class="hidden-smxs">
                                    전 국민과 세계인이 매년 3만여명 이상 참가하여 함게 즐기는 글로벌<br class="hidden-smxs">
                                    복합문화축제로, 인천공항만의 특별한 감동을 전달하고 있습니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">인천공항 스카이페스티벌</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 08월 31일 ~ 09월 01일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">인천국제공항공사, KBSN</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">인천공항 문화공원</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://www.skyfestival.kr" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/boargame.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/boargame.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">인천 보드게임 페스티벌</p>
                                <p class="evt-bx-txt">
                                    인천 보드게임 페스티벌은 세계적인 가족 놀이 문화이자 교육 문화인<br class="hidden-smxs">
                                    보드게임을 널리 알리기 위해 마련한 축제형 보드게임 무료체험 행사로<br class="hidden-smxs">
                                    관람객에게 보드게임 체험, 보드게임 대회 및 이벤트를 제공하여<br class="hidden-smxs">
                                    보드게임 만의 즐거움을 알리고 있습니다.<br>
                                    <br class="hidden-smxs">
                                    300여종 국내, 해외 보드게임 시연 및 할인판매와 보드게임 대회, 보드게임 개인작가존 등 각종 이벤트 등을 즐길 수 있습니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">인천 보드게임 페스티벌</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 08월 16일 ~ 17일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">인천정보산업경제테크노파크, 한국보드게임산업협회</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">인천 송도 컨벤시아 1홀</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://www.incheonboardgame.com/" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/rockfest.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/rockfest.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">인천 펜타포트 락 페스티벌</p>
                                <p class="evt-bx-txt">
                                    국내외 유명 뮤지션들이 참가하는 국내 대표 락 페스티벌로<br class="hidden-smxs">
                                    올해 14회째를 맞이하며 인천 송도달빛축제공원에서 개최됩니다.송도달빛축제공원을 주무대로 도심 전체에 축제 분위기를 조성하며<br class="hidden-smxs">
                                    인천을 축제의 장으로 탈바꿈 시킬 것입니다.'핫'한 라인업과 '펜타 바캉스' 컨셉에 놀거리들이 복합되어 <br class="hidden-smxs">
                                    한 여름에 무더위를 뜨거운 열기로 날려버릴 기회입니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">인천 펜타포트 락 페스티벌</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 08월 09일 ~ 11일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">인천관광공사, 경기일보</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">인천 송도달빛축제공원</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://www.pentaport.co.kr" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/nightroad.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/nightroad.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">강화 문화재 야행</p>
                                <p class="evt-bx-txt">
                                    강화, 사방팔밤(夜)에 빠지다.문화재를 활용한 8야 프로그램, 초청공연 , 고려검무공연, 미디어 파사드,<br class="hidden-smxs">
                                    강화역사 퍼레이드를 포함해 각종 체험프로그램 및 먹거리까지<br class="hidden-smxs">
                                    준비되어있는 강화로 어서오십시오.<br>
                                    야로, 야화, 야시, 야설, 야사, 야숙, 야경 등의 프로그램으로 초대합니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">강화 문화재 야행</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 06월 28일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">인천관광공사, 강화군청</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">용흥궁공원</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://www.ganghwa-night.co.kr/" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/boatfest.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/boatfest.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">아라뱃길 카약축제</p>
                                <p class="evt-bx-txt">
                                    2019 아라뱃길 카약축제는 시민참여 중심의 수상레포츠 축제로써,<br class="hidden-smxs">
                                    생활문화로써의 카약을 시민들이 쉽게 즐길 수 있는 기회를 제공합니다.<br>
                                    온가족이 함께, 남녀노소 누구나 안전하게 즐길 수 있는 축제로<br class="hidden-smxs">
                                    카약퍼레이드, 다양한 시민체험프로그램과 콘서트 '노을마당'이<br class="hidden-smxs">
                                    함께 진행됩니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">아라뱃길 카약축제</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 05월 18일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">인천광역시 서구, K-water</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">경인아라뱃길 시천가람터 일원</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="https://korean.visitkorea.or.kr/detail/fes_detail.do?cotid=39d57418-3596-44a1-be3e-3eee3c1e05fc" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="evt-item">
        <div class="bxBox">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 228px;"><ul class="bxS fnBxSlider" style="width: auto; position: relative;">
                <li class="li-1" aria-hidden="false" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 50; display: block;"><img src="http://img.hotelairsky.co.kr/svc/img/event/walkingfest.jpg" alt="에어스카이호텔 이벤트"></li>
                <li class="li-2" aria-hidden="true" style="float: none; list-style: none; position: absolute; width: 600px; z-index: 0; display: none;">
                    <img src="http://img.hotelairsky.co.kr/svc/img/event/walkingfest.jpg" alt="에어스카이호텔 이벤트">
                    <div class="evt-bx-box">
                        <div class="evt-txt-box">
                            <div class="evt-txt-container">
                                <p class="evt-bx-tit">함께 걷자 인천 페스타</p>
                                <p class="evt-bx-txt">
                                    걷고, 나누고, 즐기고, 행복한 경험 모두 한번에!함께 걷자! 인천 페스타는 가정형편이 어려워 굶거나 아픈 어린이 등<br class="hidden-smxs">
                                    위기가정과 인도적 차원에서 지원이 시급한 범죄피해자 긴급지원을 위한<br class="hidden-smxs">
                                    기금마련 행사입니다.대한적십자사 인천지사와 경기일보가 주관하며, 인천광역시와<br class="hidden-smxs">
                                    인천지방경찰청 범죄피해자 보호협의회의 후원으로 개최됩니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul></div><div class="bx-controls bx-has-controls-direction bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div></div>
        </div>

        <div class="evt-tb-box">
            <ul class="evt-tb cf">
                <li class="nth-1 t-full">
                    <p class="p-lbl">행사명</p>
                    <p class="p-txt">함께 걷자 인천 페스타</p>
                </li>
                <li class="nth-2 t-half">
                    <p class="p-lbl">일정</p>
                    <p class="p-txt">2019년 04월 20일</p>
                </li>
                <li class="nth-3 t-half">
                    <p class="p-lbl">주최</p>
                    <p class="p-txt">대한적십자사 인천광역시지사, 경기일보</p>
                </li>
                <li class="nth-4 t-half">
                    <p class="p-lbl">장소</p>
                    <p class="p-txt">어울큰마당(구, 야외 음악당)</p>
                </li>
                <li class="nth-5 t-half">
                    <p class="p-lbl">추가정보</p>
                    <p class="p-txt"><a href="http://redcross.or.kr/festival" target="_blank" title="새창 열림" rel="noopener noreferrer">▷자세히보기</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="export-json"></div>

<script>
    let data= [];
    let eventList = $(".evt-item");

    eventList.each(function(index, item){
        let obj = new Object;
        obj.eventImgPath = $(item).find('.li-1 img').attr('src');
        obj.eventName = $(item).find('.evt-bx-tit').text();
        obj.period = $(item).find('.nth-2 .p-txt').text();
        obj.host = $(item).find('.nth-3 .p-txt').text();
        obj.place = $(item).find('.nth-4 .p-txt').text();
        obj.remark = "▷" + obj.eventName;
        obj.href = $(item).find('.nth-5 .p-txt a').attr("href");
        let text = $(item).find('.evt-bx-txt').text().replace(/\n/gi,"<br>");
        text = text.replace(/\u000b/gi,"");

        obj.text = text;
        data.push(obj);
    });


    // $(".evt-tb")
    // $("li-1 img");

    let jsonData = JSON.stringify(data,null,"\t");
    // jsonData = jsonData.replace("\t","&#09;");
    $(".export-json").html(jsonData);
    console.log(jsonData);
</script>




</body>
</html>

