<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>죽도</title>
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/about/init.css">



    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>



    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->


    <!-- http://static.sampobeach.co.kr -->

</head>

<body>
    <div class="wrapper">
        <!--헤더부분-->


        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="../index.html"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/juk-do.co.kr/common/logo.png" alt="죽도 로고"> <span class="skip">죽도</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">죽도 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">@@localName의 숨어있는 비경</p>
                    <h2><span class="f-bd">죽도</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr txt-upper">juk-do</span></p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">양양의 대표 죽도! <span class="sampo"><span class="f-bd">juk-do</span>
                                </span></span>
                            <span class="row-2"><span class="f-bd">죽도</span>로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/juk-do.co.kr/about/beach_big.jpg" alt="죽도"></figure>
                        <p class='showing'>파도소리와 죽항이 가득한 죽도는 둘레 1㎞, 높이 53m의 섬으로 송죽이 사철 울창합니다. 죽도정에 오르면 파도가 깎아 만든 어려모양의 바위와 해안풍경을 한눈에 바라볼 수 있습니다.</p>
                        <p class='showing'>옛날에는 섬이었다고 전하나 지금은 육지와 연접하고 있으며, 송죽이 사시사철 울창하므로 죽도라 전해지고 있습니다. 이 섬의 장죽은 강인하고 전시용에 적격이므로 조선시대에는 조정에 장죽을 매년 진상하였습니다.</p>
                        <p class='showing'>정상의 죽도정은 1965년 5월 13일에 현남면 내 부호들이 주축이 되어 행정의 지원을 받아 정자를 건립하였으며 정자는 팔각집우 전면 3칸, 측면 2칸, 천정은 정자형으로 되어있습니다. 전망이 훌륭하며 산책로가 있어 인근주민들이 많이 이용하며 인근 죽도해수욕장은 모래가 곱고 경사가 완만해 가족피서지로 적당한 곳입니다.</p>

                        <figure class="half">
                            <img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/juk-do.co.kr/about/beach_small_1.jpg" alt="죽도"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/juk-do.co.kr/about/beach_small_2.jpg" alt="죽도">
                        </figure>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/juk-do.co.kr/common/logo.png" alt="죽도로고"></figure>
                <address>
                    본 사이트는 죽도를 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길 : 강원도 양양군 현남면 인구리<br>
                    이메일 : help@juk-do.co.kr<br>
                    <small>copyright @ juk-do.co.kr All right reserved</small>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">죽도 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>