<footer class="footer">
    <div class="wrap container">
        <figure class="logo"><img src="@@imgPath/common/logo.png" alt="@@siteName로고"></figure>        
        <address>
            본 사이트는 @@siteName@@josaLeul 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
            오시는 길 : @@address<br>
            이메일 : help@@@domain<br>
            <small>copyright @ @@domain All right reserved</small>
        </address>
        <nav class="gnb">
            <ul class="menu cf">
                <li class="item-1"><a href="@@dotPath/about/index.html">@@siteName 소개</a></li>
                <li class="item-2"><a href="@@dotPath/event/index.html">축제 이벤트</a></li>
                <li class="item-3"><a href="@@dotPath/waycome/index.html">오시는 길</a></li>
                <li class="item-4"><a href="@@dotPath/tourist/index.html">주변관광</a></li>
                <li class="item-5"><a href="@@dotPath/board/memory_list.html">추억게시판</a></li>
            </ul>
        </nav>
    </div>
</footer>

</div>

</body>

</html>