<header class="header">
    <div class="wrap container">
        <h1 class="logo"><a href="@@dotPath/index.html"><img src="@@imgPath/common/logo.png" alt="@@siteName 로고"> <span class="skip">@@siteName</span></a></h1>
        <nav class="gnb">
            <ul class="menu cf">
                <li class="item-1"><a href="@@dotPath/about/index.html">@@siteName 소개</a></li>
                <li class="item-2"><a href="@@dotPath/event/index.html">축제 이벤트</a></li>
                <li class="item-3"><a href="@@dotPath/waycome/index.html">오시는 길</a></li>
                <li class="item-4"><a href="@@dotPath/tourist/index.html">주변관광</a></li>
                <li class="item-5"><a href="@@dotPath/board/memory_list.html">추억게시판</a></li>
            </ul>
        </nav>
    </div>
</header>