<!--공통 폰트 및 css-->
<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">


<!-- 실서버 -->
<!-- 
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/@@pathCss"> 
-->


<!-- local -->

<link rel="stylesheet" href="@@path/reset.css">
<link rel="stylesheet" href="@@path/common.css">
<link rel="stylesheet" href="@@path/totalweb.css">
<link rel="stylesheet" href="@@path/@@pathCss">

@@if (pathCss === "init.css") {
<!--페이지 전용 CSS//메인화면 제어부분//-->
<link rel="stylesheet" href="@@path/mulchi-port.co.kr/intro.css">
}

<!--js-->
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script src="@@pathOrigin/js/common.js"></script>
<script src="@@pathOrigin/js/init.js"></script>
<script src="@@pathOrigin/js/totalweb.js"></script>



<!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->