<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>낙산해수욕장</title>
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/about/init.css">



    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>



    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->


    <!-- http://static.sampobeach.co.kr -->

</head>

<body>
    <div class="wrapper">
        <!--헤더부분-->


        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="../index.html"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/naksan-beach.co.kr/common/logo.png" alt="낙산해수욕장 로고"> <span class="skip">낙산해수욕장</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">낙산해수욕장 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">@@localName의 숨어있는 비경</p>
                    <h2><span class="f-bd">낙산해수욕장</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr txt-upper">naksan-beach</span></p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">양양의 대표 낙산해수욕장 <span class="sampo"><span class="f-bd">naksan-beach</span>
                                </span></span>
                            <span class="row-2"><span class="f-bd">낙산해수욕장</span>으로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/naksan-beach.co.kr/about/beach_big.jpg" alt="낙산해수욕장"></figure>
                        <p class='showing'>매년 여름 전국 각지에서 200만 이상의 인파가 다녀가는 동해안을 대표하는 해변으로 1963년에 개장했습니다.깨끗하고 넓은 백사장과 얕은 수심, 다양한 편의시설, 빽빽이 들어선 송림, 그리고 주위에 자리한 명찰과 고적지로 인하여 많은 관광객 및 피서객이 찾고있는 관광명소로도 유명합니다.</p>
                        <p class='showing'>이곳은 울창한 소나무숲을 배경으로 4km의 백사장이 펼쳐져 있고, 설악산에서 흘러내리는 남대천이 하구에 큰 호수를 이루고 있어 담수도 풍부합니다. 매년 새해에는 해맞이 축제가 열려 많은 사람들의 소원을 염원하는 명소가 되기도 합니다. 겨울에는 이곳에서 해돋이를 보러 많은 사람이 방문하기도 합니다.<br>또한 천년고찰 낙산사가 인근에 있어 문화여행을 함께 즐길 수 있으며, 싱싱한 횟감을 저렴하게 먹는 일도 어렵지 않습니다.</p>

                        <figure class="half">
                            <img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/naksan-beach.co.kr/about/beach_small_1.jpg" alt="낙산해수욕장"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/naksan-beach.co.kr/about/beach_small_2.jpg" alt="낙산해수욕장">
                        </figure>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://design.ebiznetworks.co.kr/lhc/tourist-yangyang/img/naksan-beach.co.kr/common/logo.png" alt="낙산해수욕장로고"></figure>
                <address>
                    본 사이트는 낙산해수욕장을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길 : 강원도 양양군 강현면 해맞이길 59<br>
                    이메일 : help@naksan-beach.co.kr<br>
                    <small>copyright @ naksan-beach.co.kr All right reserved</small>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">낙산해수욕장 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>